{* Latte template *}

{block content}
<h2 class="jumbotron">Vytvoření produktu</h2>
<a n:href="default" role="button" class="btn btn-default">&lt;&lt; Zpět na hlavní stránku</a>
{import '../components/bootstrap-form.latte'}
{include bootstrap-form productForm}