h1 {
	color: #3484D2;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

.btn-default{
    color: black !important;
}

.btn-default:hover{
    color: black !important;
}

.btn-primary{
    color: white !important;
}

.btn-primary:hover{
    color: black !important;
}

.btn-dark{
    background-color: gray;
    color: white !important;
}

.btn-dark:hover{
    background-color: lightgray !important;
    color: black !important;
}